<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="{{LANGUAGE_CODE}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="maths">
    <meta name="description" content="">
    <title>{% block title %}{{SITENAME}}{% endblock %}</title>
    <link rel="shortcut icon" href="http://averagehuman.org/assets/averagehuman/img/favicon.ico">
    <style>
    @import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
    </style>
    <link rel="stylesheet" href="{{SITEURL}}/assets/foundation/css/normalize.css">
    <link rel="stylesheet" href="{{SITEURL}}/assets/foundation/css/foundation.css">
    <link rel="stylesheet" href="{{SITEURL}}/assets/foundation/css/general_foundicons.css">
    <link rel="stylesheet" href="{{SITEURL}}/assets/foundation/css/accessibility_foundicons.css">
    <link rel="stylesheet" href="{{SITEURL}}/assets/foundation/css/social_foundicons.css">
    <link rel="stylesheet" href="{{SITEURL}}/assets/averagehuman/css/averagehuman.css">
    <link rel="stylesheet" href="{{SITEURL}}/assets/pygments.css">
    <link rel="stylesheet" href="{{SITEURL}}/assets/styles.css">
    <script src="{{SITEURL}}/assets/foundation/js/vendor/custom.modernizr.js"></script>

</head>

<body>
    <div id="page-wrap">
        <header id="header">
            <div id="primary-nav-container">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="contain-to-grid sticky">
                        <nav class="top-bar" data-topbar>
                            <ul class="title-area">
                                <li class="name"><a id="brand" href="/"><i id="brand-icon" class="accessibility foundicon-universal-access"><span id="brand-title">maths.averagehuman</span></i> </a></li>
                                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
                            </ul> 
                            <section class="top-bar-section">
                                <ul id="primary-menu" class="right">
                                    <li><a title="Home" href="/">HOME</a></li>
                                    <li class="has-dropdown"><a href="{{SITEURL}}/categories/">CATEGORIES</a>
                                    <ul class="dropdown">
                                        <li><a href="/">All</a></li>
                                        {% for category, articles in categories %}
                                            <li><a href="{{SITEURL}}/{{category.url}}">{{category}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    </li>
                                </ul>
                            </section>
                        </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="page-main">
            <div class="row">
                <div class="small-12 columns">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="row">
        <div class="small-12 columns">
        Copyright &copy; 2014 averagehuman.
        </div>
        </div>
    </footer>
    <script src="{{SITEURL}}/assets/foundation/js/vendor/jquery.js}}"></script>
    <script src="{{SITEURL}}/assets/foundation/js/foundation.js}}"></script>
    <script src="{{SITEURL}}/assets/foundation/js/foundation.topbar.js}}"></script>
    <script> $(document).foundation(); </script>
    {% block extrabody %}{% endblock %}
</body>
</html>

